@page
@model EasyNotes.Pages.AboutModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>О нас</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="assets/images/logo.png" alt="Логотип">
            </div>
            <div class="buttons">
                <ul class="nav-links">
                    <li><a href="Index">Главная</a></li>
                    <li><a href="About">О нас</a></li>
                    <li><a href="Notes">Заметки</a></li>
                </ul>
                <div class="profile-icon">
                    <a href="Profile">
                        <svg width="60" height="60" viewBox="0 0 65 65" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_9_8256)">
                                <path d="M46.9677 34.5352C49.7787 31.6828 51.6839 28.0631 52.4436 24.131C53.2034 20.1989 52.7838 16.13 51.2378 12.4357C49.6917 8.7414 47.0881 5.58654 43.7541 3.36769C40.4202 1.14884 36.5048 -0.0349884 32.5 -0.0349884C28.4952 -0.0349884 24.5798 1.14884 21.2459 3.36769C17.9119 5.58654 15.3083 8.7414 13.7622 12.4357C12.2162 16.13 11.7966 20.1989 12.5564 24.131C13.3161 28.0631 15.2212 31.6828 18.0323 34.5352C12.7261 36.6211 8.16954 40.2539 4.95399 44.962C1.73843 49.6701 0.0124194 55.2361 6.53057e-07 60.9375C-0.000301966 61.4711 0.104571 61.9995 0.308624 62.4925C0.512676 62.9855 0.811906 63.4335 1.1892 63.8108C1.5665 64.1881 2.01447 64.4873 2.50749 64.6914C3.00051 64.8954 3.52892 65.0003 4.0625 65H60.9375C61.4711 65.0003 61.9995 64.8954 62.4925 64.6914C62.9855 64.4873 63.4335 64.1881 63.8108 63.8108C64.1881 63.4335 64.4873 62.9855 64.6914 62.4925C64.8954 61.9995 65.0003 61.4711 65 60.9375C64.9876 55.2361 63.2616 49.6701 60.046 44.962C56.8305 40.2539 52.2739 36.6211 46.9677 34.5352ZM32.5 8.125C34.9105 8.125 37.2668 8.83978 39.271 10.179C41.2752 11.5181 42.8373 13.4216 43.7598 15.6485C44.6822 17.8755 44.9236 20.326 44.4533 22.6902C43.9831 25.0543 42.8223 27.2259 41.1179 28.9304C39.4134 30.6348 37.2418 31.7956 34.8777 32.2658C32.5135 32.7361 30.063 32.4947 27.836 31.5723C25.6091 30.6498 23.7056 29.0877 22.3665 27.0835C21.0273 25.0793 20.3125 22.723 20.3125 20.3125C20.3161 17.0813 21.6013 13.9834 23.8861 11.6986C26.1709 9.41377 29.2688 8.12858 32.5 8.125ZM8.52969 56.875C9.47363 52.2903 11.9688 48.1711 15.595 45.2112C19.2212 42.2513 23.7567 40.6316 28.4375 40.625H36.5625C41.2433 40.6316 45.7788 42.2513 49.405 45.2112C53.0312 48.1711 55.5264 52.2903 56.4703 56.875H8.52969Z" />
                            </g>
                            <defs>
                                <clipPath id="clip0_9_8256">
                                    <rect width="65" height="65" />
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="content-section">
            <img src="assets/images/logo.png" alt="Логотип" class="center-image">

            <div class="flex-container" style="justify-content: start;">
                <p class="flex-text" style="max-width: 60%; font-size: 40px; font-weight: 600; margin: auto;">Easy Notes — это простой и интуитивно понятный таск-менеджер, созданный для тех, кто ценит своё время и стремится быть продуктивным.</p>
            </div>

            <div class="flex-container" style="width: 60%;">
                <p class="flex-text" style="font-weight: 200; max-width: 100%; font-size: 35px">Наша цель — помочь каждому пользователю организовать свои задачи так, чтобы фокусироваться на важном и успевать больше. Мы верим, что эффективное управление временем — это ключ к достижению любых целей, больших и малых.</p>
                <img src="assets/images/img4.png" style="width: 100%; height: 100%; align-self: center;" alt="Изображение 4" class="flex-image">
            </div>

            <div class="flex-container" style="margin-bottom: 130px;">
                <div class="flex-column">
                    <p class="flex-text" style="font-weight: 600; text-align: center; max-width: 100%; font-size: 40px; margin-bottom: 50px;">Почему мы?</p>
                    <ul class="flex-list">
                        <li>Простой интерфейс — всё, что нужно, у вас под рукой.</li>
                        <li>Быстрое добавление и выполнение задач.</li>
                        <li>Лёгкий контроль за прогрессом.</li>
                        <li>Возможность настроить задачи под свой ритм жизни.</li>
                    </ul>
                </div>
            </div>

            <div class="flex-container" style="margin-bottom: 0;">
                <div class="flex-column">
                    <p class="flex-text" style="font-weight: 700; text-align: center; max-width: 100%; font-size: 40px;">Готов начать?</p>
                    <p class="flex-text" style="font-size: 35px; font-weight: 600; text-align: center; max-width: 100%">Создай свою первую задачу прямо сейчас и почувствуй разницу!</p>
                </div>
            </div>

            <div class="flex-container">
                <a href="Notes"><img src="assets/images/img3.png" alt="Изображение 3" class="flex-image" style="max-width: 1000px;"></a>
            </div>

        </section>
    </main>

</body>
</html>